/* globals.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0; /* Menghapus padding default untuk ul */
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333; /* Warna teks default */
  margin-bottom: 20px; /* Spasi bawah untuk pemisahan elemen */
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px; /* Penyesuaian jarak */
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

/* Grid styling */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Card styles */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-content h3 {
  font-size: 1.25rem;
  color: #004d40;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

/* Button styling */
button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00796b;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
/* Reset CSS untuk elemen default */
body, h1, h2, h3, h4, h5, h6, p, input, button, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  line-height: 1.6;
}

/* Tambahkan di globals.css */
input {
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
